# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Git
.git
.gitignore

# Environment files
.env
.env.*
!.env.example

# Build output
dist

# IDE
.vscode
.idea

# Documentation
*.md
README.md

# Misc
.DS_Store